 <!-- About Section -->
    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>My free time is spent with my family and our amazing cats.</p>
                    <p>We travel to nearby places for some rock climbing, hiking or just to enjoy other places.</p>
                </div>
            </div>
        </div>
    </section>