    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="profile-image img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <br/>
                        <span class="skills">{{ site.skills }}</span>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }}
		                    {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>